body{
    margin:0 20%;
    padding:0;
    box-sizing: border-box;
    background-image:url(../images/main/test.jpg);
    background-repeat:repeat-y;
    background-size:cover;
    border:red solid 1px;
}


h1, h2, h3{
    font-family:Oswald;
    color:white;
}

hr{
    background-color:white;
}

p{
    display:block;
    text-align:left;
    margin:1em 0.25em;
    font-family:Rajdhani;
    color:white;
    font-size:30px;
}




/*MENU*/


.menu a{
    text-align:center;
    font-family:Oswald;
    font-size:30px;
    color:white;
    border:red solid 1px;
}



.title h1{
    width:auto;
    text-align: center;
    font-size:5em;
    border:purple solid 1px;

}




/*MENU DROP DOWN FORMAT*/

.dropdown{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display: none;
    background:black;
    z-index:1;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:100%;
}

.dropdown-content a{
    display:block;
}

.dropdown-content a:hover {
    background-color: grey;
}


.dropdown:hover .dropdown-content{
    display:block;

}

