body{
    margin:0 20%;
    padding:0;
    box-sizing: border-box;
    background-image:url(../images/main/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
    color:white;
   
}

/*General Formating */

article{
    margin: 50px 0;
}

ul{
    list-style: none;
}

.pros{
    color:green;
}

.cons{
    color:red;
}

/*Class Summary*/

.pros-cons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    grid-gap:20px;
    
}

.pros-class, .cons-class{
    border:white 2px solid;
}

.pros-class h3, .cons-class h3 {
    text-align: center;
}


/*Weapons*/

.grid{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width:100%;

}

.gun{
    border:white 2px solid;
    position:relative;
    background-color: black;
}

.gun h3{
    text-align: center;
    white-space: nowrap;
}

.gun img{
    display:block;
    margin:10px auto;
    width:90%;
    height:auto;
    
}

.rating{
    text-align: center;
}

.rating p{
    margin-top:-15px;
}

.gun-content{
    display:none;
}

.gun-content p{
    margin:0 20px;
}

.gun-content li{
    margin-left:-20px;
}

.container{

    width:100%;
    height:1px;
    background:red;
}

.gun:hover .gun-content{
    border: gold 2px solid;
    border-top: none;
    display:block;
    position:absolute;
    background-color: black;
    width:100%;
    z-index: 1;
    margin:0 -2px;
}

.gun:hover{
    border-color: gold;
    border-bottom: none;
}

/*@media*/