/* General Formating */
body{
    margin:0 18%;
    padding:0;
    box-sizing: border-box;
    background-image:url(../images/main/test.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    color:white;
}

/* Title + Logo Flipping */
.banner{
    display:flex;
    align-items: center;

}
.logo-container{
    position:relative;
    width:250px;
    height:250px;
}

.logo{
    position:absolute;
    width:250px;
    height:250px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.back{
    transform:rotateY(-180deg);
}

.logo-container:hover .front{
    transform:rotateY(180deg)
}

.logo-container:hover .back{
    transform:rotateY(0deg);
}

h1{
    text-align: center;
    font-size:3.5em;
}



/* Links */
.nav-container{
    text-align: center;
    margin-top: 20px;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items:center;
}

.nav-container a{
    text-decoration: none;
}

.hover{
    font-size:1.5em;
}


.hover{
    display: inline-block;
    position: relative;
    color:rgba(255, 255, 255, 0.75);
  }

.hover:hover{
    color:white;
}


.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-image:linear-gradient(to right, rgb(218, 123, 226), rgb(9, 214, 250));
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

  .hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Dropdown Menu*/

.perks{
    position: relative;
}

.dropdown-content{
    display:none;
}
.perks:hover .dropdown-content{
    display:flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image:linear-gradient(rgb(82, 35, 92), rgb(31, 108, 196));
    animation-name: dropdown;
    animation-duration:1.5s;
}
.dropdown-content img{
    height:40px;
    width:40px;
    float: left;
}

.dropdown-content a{
    color:white;
    width: 100%;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: rgba(40, 10, 78, 0.575);
}
.perks:hover .dropdown-content{
}

@keyframes dropdown {
    0%  {opacity:0;}
    100% {opacity:1;}
}
