body{
    margin:0 20%;
    padding:0;
    box-sizing: border-box;
    background-image:url(../images/main/test.jpg);
    background-size:contain;
    background-repeat:no-repeat-x;
    /*background-repeat:repeat-y;*/
    background-position: fixed;
}


h1, h2, h3{
    font-family:Oswald;
    color:white;
}

hr{
    background-color:white;
}

p{
    display:block;
    text-align:left;
    margin:1em 0;
    font-family:Saira Condensed;
    color:white;
    font-size:1.8em;
}

.link{
    color: yellow;
    font-weight: bold;
}


/*Sharp Summary Format */

#class{
    display:inline-block;
    font-size:4em;
    margin-top:1em;
    margin-bottom: -0.9em;

}

img.icon{
    height:6em;
    width:6em;
    margin-bottom:-1.1em;
}
.pros-cons h3{
    font-size:2em;
}
.pros-cons ul{
    font-size:1.5em;
    font-family:Saira Condensed;
    color:white;
    padding-left: 1em;
}


/*Weapon Formating */
.gun-image{
    float:right;
    margin-left:50px;
}
.gun-text{
    position: relative;
    right:8px;
}

.gun h2{
    margin-top:1em;
}

#gun-icon{
    display:inline-flex;
    height:4em;
    width:4em;
    margin-bottom:-20px;
}
.weapons{
    display:inline;
    margin-right:0.5em;
}

/*Data for collapse*/
.cm14{
    background-image: url(./../images/sharp/m14-collapse.jpg);
}
.cspx{
    background-image: url(./../images/sharp/spx-collapse.jpg);
}
.cfal{
    background-image: url(./../images/sharp/fal-collapse.jpg);
}

.cwinchester{
    background-image: url(./../images/sharp/winchester-collapse.jpg);
}
.cmosin{
    background-image: url(./../images/sharp/mosin-collapse.jpg);
}
.ccrossbow{
    background-image: url(./../images/sharp/crossbow-collapse.jpg);
}
.cbow{
    background-image: url(./../images/sharp/bow-collapse.jpg);
}
.c1858{
    background-image: url(./../images/sharp/1858-collapse.jpg);
}

.c500{
    background-image: url(./../images/sharp/500-collapse.jpg);
}

.c9mm{
    background-image: url(./../images/sharp/9mm-collapse.jpg);
}
.cfreeze{
    background-image: url(./../images/sharp/freeze-collapse.jpg);
}
.gun-section .collapsible{
    
    background-repeat: no-repeat;
    background-size:auto;
    background-color:rgb(100, 96, 100);
    background-position: left;
    background-position-y: center;
    cursor: pointer;
    width: 100%;
    padding-bottom:5%;
    max-height: 1.5em;
    font-size:40px;
    text-align: right;
    line-height: 1.37;
    color:white;
  }
  
  .active, .collapsible:hover {
    color:red;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /*Gun info formating*/

  .gun h2{
      font-size:2.5em;
      padding-left:0;
  }

  .gun-text{
      padding-left:0.3em;

  }

  .gun-image{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-top: 2.5em;
  }

  h3.table-heading{
      font-size:2em;
  }

  table,tr,th,td{
    text-align: center;
    border:solid white 1px;
    padding:20px;
    border-collapse:collapse;
    font-family:Saira Condensed;
    color:white;
    font-weight:bolder;
    font-size:30px;
    margin: 30px 0;
  }

  /*Skill Formating*/

  .skills h1{
        display: inline-block;
        font-size:2em;
        margin-bottom: -1.8em;
        margin-top: 1em;
  }
  #skill-icon{
        height:4em;
        width:4em;
        margin-bottom:-1em;

  }

  .skills img{
      height:2em;
      width:2em;
      margin-right:0.5em; 
      margin-bottom:-0.5em; 
  }


  .skills ul{
      list-style: none;
      padding-left: 0;
  }

  /*Play Style*/

  .playstyle h1, .playstyle h2, .playstyle p{
      font-size:2em;
      
  }
  .playstyle img{
      display: inline-block;
      height:auto;
      width:5em;
      margin-left: 0.5em;
      margin-bottom:-0.5em;
  }
  .playstyle h1{
      display:inline-block;
      margin-bottom:-1.8em;
  }

  .playstyle li, .head-clicker li{
      font-family:Saira Condensed;
      font-weight: bold;
      color:white;
      font-size:2em;

  }

  .big-zed-hunter p{


  }

  /*Loadout*/
  .loadout h1{
      display:inline-block;
      margin-bottom:-2em;
  }

  .loadout img{
      height:4em;
      width:3.7em;
      margin-left:1em;
  }

  .loadout p, .loadout h2{
      font-size:2em;
  }



  /*Tips*/

  .tip h1{
      display: inline-block;
      margin-bottom:-1em;
  }

  .tip h2{
      margin-bottom:-1em;
      font-size:2em;
  }
  .tip img{
      height:4em;
      width:3.5em;
      margin-left:0.5em;
  }

  .tip ul{
      list-style: none;
      padding-left: 0;
  }

  .tip p{
      display:inline-block;
      clear: all;
  }

  .tip h2{
      display:inline-block;
  }

  .tip video{
      display: block;
      margin:1em 0;
  }