body{
    margin:0 20%;
    padding:0;
    box-sizing: border-box;
    background-image:url(../images/main/test.jpg);
    background-size:contain;
    background-repeat:no-repeat-x;
    /*background-repeat:repeat-y;*/
    background-position: fixed;
}


h1, h2, h3{
    font-family:Oswald;
    color:white;
}

hr{
    background-color:white;
}

p{
    display:block;
    text-align:left;
    margin:1em 0;
    font-family:Rajdhani;
    color:white;
    font-size:1.8em;
}




/*Sharp Summary Format */

#class{
    display:inline-block;
    font-size:4em;
    margin-top:1em;
    margin-bottom: -0.9em;

}

img.icon{
    height:6em;
    width:6em;
    margin-bottom:-1.1em;
}
.pros-cons h3{
    font-size:2em;
}
.pros-cons ul{
    font-size:1.5em;
    font-family:Rajdhani;
    color:white;
    padding-left: 1em;
}


/*Weapon Formating */
.gun-image{
    float:right;
    margin-left:50px;
}
.gun-text{
    position: relative;
    right:8px;
}

.gun h2{
    margin-top:1em;
}

#gun-icon{
    display:inline-flex;
    height:4em;
    width:4em;
    margin-bottom:-20px;
}
.weapons{
    display:inline;
    margin-right:0.5em;
}

/*Data for collapse*/
.cm14{
    background-image: url(./../images/sharp/m14-collapse.jpg);
}
.cspx{
    background-image: url(./../images/sharp/spx-collapse.jpg);
}
.cfal{
    background-image: url(./../images/sharp/fal-collapse.jpg);
}

.cwinchester{
    background-image: url(./../images/sharp/winchester-collapse.jpg)
}
.cmosin{
    background-image: url(./../images/sharp/mosin-collapse.jpg)
}
.gun-section .collapsible{
    
    background-repeat: no-repeat;
    background-size:auto;
    background-color:rgb(100, 96, 100);
    background-position: left;
    background-position-y: center;
    cursor: pointer;
    width: 100%;
    padding-bottom:5%;
    max-height: 1.5em;
    font-size:40px;
    text-align: right;
    line-height: 1.37;
    color:white;
  }
  
  .active, .collapsible:hover {
    color:red;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /*Gun info formating*/

  .gun h2{
      font-size:2.5em;
      padding-left:0;
  }

  .gun-text{
      padding-left:0.3em;

  }

  .gun-image{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-top: 2.5em;
  }

  h3.table-heading{
      font-size:2em;
  }

  table,tr,th,td{
    border:solid white 1px;
    padding:20px;
    border-collapse:collapse;
    font-family:Rajdhani;
    color:white;
    font-weight:bolder;
    font-size:30px;
    margin: 30px 0;
  }

  /*Skill Formating*/

  .skills h1{
      font-size:2em;
  }

  .skills ul{
      list-style: none;
      padding-left: 0;
  }

  /*Play Style*/

  .playstyle h1, .playstyle h2{
      font-size:2em;
  }


  /*Tips*/

  .tip ul{
      list-style: none;
      padding-left: 0;
  }